<mat-card>
  <form class="signup-form" (submit)="onSignup()" #signupForm='ngForm' *ngIf='!isLoading'>
    <mat-form-field class="email-field">
      <input matInput placeholder="Email Address" ngModel name='email' #emailInput='ngModel' required email />
    </mat-form-field>

    <mat-form-field class="password">
      <input matInput placeholder="Password" ngModel name='password' #passwordInput='ngModel' required type='password' />
    </mat-form-field>

    <mat-form-field class="retype-password">
      <input matInput placeholder="Re-Enter Password" ngModel name='repassword' #repasswordInput='ngModel' required type='password' />
    </mat-form-field>

    <button mat-raised-button color="primary" type='submit' [disabled]="!signupForm.valid">Signup</button>
  </form>
  <mat-spinner *ngIf='isLoading'></mat-spinner>
</mat-card>